PG_USER=pgrnf
PG_PASSWD=password
PGRST_SECRET=string-at-least-32-to-sign-jwt
MS_USER=msrnf
MS_PASSWD=password
MS_SUPER=big_password
WEBHOST=dev.example.com
CFD_TOKEN=cloudflared_token_from_zerotrust_dashboard
R2_ENDPOINT=R2_ENDPOINT=https://R2_ACCT_TAG.r2.cloudflarestorage.com
